@import "../../styles/colors.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid $gray;
  height: 50px;
}
.icon {
  color: #93a3bc;
  margin: 5px;
  font-size: 28px;
  cursor: pointer;
}