$red: #e53935; // красный для удаления
$red-dark:#B22222; // кирпично красный

$pink: #FF00FF; // розовый
$pink-red: #CD5C5C; // темный между розовыи и красным

$gray: #f2f2f2;

$yellow: #fadd13; // желтый

$orange: #FF8C00; // оранжевый ближе к желтому
$orange-red: #FF4500; // оранжевый ближе к красному

$fiolet: #715291; // фиолетовый
$fiolet-pink: #C71585; // фиолетовый немного розовый

$blue: #7B68EE; // бледновато синей слегка фиолтеовый 
$darkblue: #2a5885;
$blue-light:#1E90FF; // синий светловатый не насыщенный

$green-light: #32CD32; // светло зеленый
$green: #228B22; // темно зеленый