.followButton {
  min-width: 100px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
}

.avatar { 
  border-radius: 56% 58% 57% 53% / 76% 74% 79% 81%    ;
}

.username {
  opacity: 0.5;
}

.about {
  font-size: 22px;
  line-height: 30px;
}
